<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <header id="header" class="header">
        <nav class="header__nav">
            <div class="header__logo">
                <a href="#" class="header__logo__name">Ankari</a>
                <a href="#">Home</a>
                <a href="#">About Us</a>
                <a href="#">Contact</a>
            </div>
            <div class="header__items">
                {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <button class="dropbtn" onclick="myFunction()">Account</button>
                    <div class="dropdown-content" id="myDropdown">
                        <a href="#">Info</a>
                        <a href="#">Settings</a>
                        <a class="logout" href="/logout">Log out</a>
                    </div>
                </div>
                {% else %}
                    <a class="login" href="/login">Log In</a>
                    <a class="signup" href="/signup">Sign Up</a>
                {% endif %}
            </div>
        </nav>
    </header>
    {% load static %}
    <script src="{% static 'js/base.js' %}"></script>
    {% block content %}{% endblock %}
    {% block javascript %}{% endblock %}
</body>
</html>